/*-- scss:defaults --*/

.reveal h1.title {
    font-size: 48px;
    color: rgb(43, 28, 94);
    font-family: Alegreya Sans, Lato, Arial, sans-serif;
    font-weight: bold;
  }


.reveal p.subtitle {
    font-size: 48px;
    color: rgb(43, 28, 94);
    font-family: Alegreya Sans, Lato, Arial, sans-serif;
    font-weight: normal;
  }


.reveal div.quarto-title-author-name {
    font-size: 30px;
    color: darkslategrey;
    font-family: Alegreya Sans, Lato, Arial, sans-serif;
    font-weight: normal;
  }

.reveal p.quarto-title-affiliation {
    font-size: 30px;
    color: darkslategrey;
    font-family: Alegreya Sans, Lato, Arial, sans-serif;
    font-weight: normal;
  }


.reveal p.date {
    font-size: 24px;
    color: darkslategrey;
    font-family: Alegreya Sans, Lato, Arial, sans-serif;
    font-weight: normal;
  }


.reveal .slide h1 {
    font-size: 36px;
    color: darkblue;
    font-family: Alegreya Sans, Lato, Arial, sans-serif;
    font-weight: normal;
  }



.reveal .slide h2 {
    font-size: 32px;
    color: darkblue;
    font-family: Alegreya Sans, Lato, Arial, sans-serif;
    font-weight: normal;
  }
  
.reveal .slide h3 {
    font-size: 28px;
    color: darkblue;
    font-family: Alegreya Sans, Lato, Arial, sans-serif;
    font-weight: normal;
  }

  
.reveal .slide h4.references {
    font-size: 24px;
    color: darkblue;
    font-family: Alegreya Sans, Lato, Arial, sans-serif;
    font-weight: normal;
  }

.reveal .slide h2.references {
    font-size: 24px;
    color: darkblue;
    font-family: Alegreya Sans, Lato, Arial, sans-serif;
    font-weight: normal;
  }
  
.reveal .slide div.references {
    font-size: 18px;
    color: darkslategrey;
    font-family: Alegreya Sans, Lato, Arial, sans-serif;
    font-weight: normal;
  }


.reveal .slide ul {
    font-size: 28px;
    font-family: Alegreya Sans, Lato, Arial, sans-serif;
    font-weight: normal;
  }


  .reveal .slide ul ul {
    font-size: 24px;
    font-family: Alegreya Sans, Lato, Arial, sans-serif;
    font-weight: normal;
  }


.reveal .slide ol {
    font-size: 28px;
    font-family: Alegreya Sans, Lato, Arial, sans-serif;
    font-weight: normal;
  }


.reveal .slide p {
    font-size: 28px;
    font-family: Alegreya Sans, Lato, Arial, sans-serif;
    font-weight: normal;
    color: blue;
  }
