/*-- scss:defaults --*/

// fonts
//$font-family-sans-serif: "Palatino Linotype", "Book Antiqua", Palatino, FreeSerif, serif !default;
$presentation-font-size-root: 28px !default;


// colors
//$body-bg: #f0f1eb !default;
//$body-color: #000 !default;
//$link-color: #51483d !default;
//$selection-bg: #26351c !default;

// headings
//$presentation-heading-font: "Palatino Linotype", "Book Antiqua", Palatino, FreeSerif, serif !default;
//$presentation-heading-color: #383d3d !default;
$presentation-heading-color: #c13414 !default;

/*-- scss:rules --*/
.reveal .slide h1 {
  color: #c13414; 
}

.reveal .slide h2 {
  color: #c13414; 
}

.reveal .slide h3 {
  color: #3b0ab8; 
}

.reveal .slide h4 {
  color: #015f25; 
}

.reveal .slide label {
  color: #01155f;
  font-size: 0.9em; 
}


